// Version
MARKETING_VERSION = 1.1.0

// Bundle identity & signing
APP_DISPLAY_NAME = StackConnect
PRODUCT_BUNDLE_IDENTIFIER = zeroSixteen.stackconnect
PRODUCT_BUNDLE_IDENTIFIER_TESTS = zeroSixteen.stackconnect.tests
DEVELOPMENT_TEAM = VVAVW2S9CF
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple Distribution
PROVISIONING_PROFILE_SPECIFIER = match AppStore zeroSixteen.stackconnect
